* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: linear-gradient(90deg, #fee9c0, #efc2f6);
  padding: 50px;
}

.container {
  display: flex;
  gap: 20px;
}

.container-left {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.container-left h2 {
  width: 100%;
  margin-left: 6%;
  color: #757575;
  font-weight: bold;
}

.container-left .up,
.container-left .down {
  margin-left: 27%;
  margin-top: 20px;
  padding-right: 8px;
  padding-left: 6px;
  line-height: 50px;
  text-align: center;
  border-radius: 50px;
  /* border: 1px solid black; */
}

.container-left .down {
  margin-left: 20px;
}

/* 左側小日曆 */
table {
  width: 100%;
  height: 50%;
  /* border: 1px solid black; */
  margin: auto;
  margin-top: 0;
  color: #757575;
  font-weight: bold;
}

table td {
  text-align: center;
  /* border: 1px solid black; */
}

/* 右側日曆 */
.container-right {
  flex: 1;
  margin: 0 60px;
}

.nav {
  display: flex;
  justify-content: flex-start;
  color: #757575;
}

.button {
  margin-left: 3%;
  margin-right: 83px;
  margin-bottom: 10px;
  line-height: 50px;
  padding: 12px 15px;
  background: transparent;
  color: #757575;
  border: 3px solid #757575;
  border-radius: 20px;
  font-weight: bold;
  font-size: x-large;
}

.container-left .up:hover,
.container-left .down:hover,
.button:hover,
.nav .up:hover,
.nav .down:hover {
  background-color: rgba(112, 106, 106, 0.15);
  cursor: pointer;
}

.nav .up {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin-top: 20px;
  border-radius: 50px;
  /* border: 1px solid #757575; */
}

.nav .down {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin-top: 20px;
  border-radius: 50px;
  /* border: 1px solid #757575; */
}

.calendar-title {
  text-align: center;
  margin-left: 8%;
  margin-bottom: 15px;
  font-size: 4em;
  text-shadow: 1px 1px 0 #ffffff;
  text-transform: uppercase;
}

.calendar-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background: #757575;
  color: white;
  padding: 10px 0;
  border-radius: 4px;
}

.day-name {
  text-align: center;
  font-weight: bold;
}

/* 日曆格 */
.calendar-grid {
  display: grid;
  margin-top: 0;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 75px;
  background: transparent;
  border: 1px solid white;
}

.cell {
  border: 1px solid white;
  padding: 5px;
  font-size: 20px;
  position: relative;
  color: #757575;
  font-weight: bold;
}